body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #FFBEA7;
    color: black;
    overflow: hidden;
    border-radius: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.greeting {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.rules {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#final-result {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#round-result {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#choices {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

